.console-container {
  margin-left: 60px;
  position: sticky;
  top: 20px;
  user-select: none;

  > strong {
    display: inline-block;
    margin-left: -3px;
    margin-top: 3px;

    &:first-child {
      margin-top: 0;
    }
  }

  > div {
    display: block;
  }
}
