.console-container {
  margin-left: 60px;
  position: sticky;
  top: 20px;
  user-select: none;

  > strong {
    display: inline-block;
    margin-left: -3px;
    margin-top: 3px;

    &:first-child {
      margin-top: 0;
    }
  }

  > div {
    display: block;
  }
}

.console-container .operations {
  padding: 0 3px 6px;

  > button {
    display: block;
    margin-top: 8px;
  }
}

.console-container > .links {
  padding-left: 3px;
  padding-top: 2px;

  a {
    color: rgb(var(--arcoblue-6));
    display: block;
    line-height: 26px;
  }
}
