.body {
  padding: 10px;

  .part {
    margin-top: 20px;
  }

  .part:first-child {
    margin-top: 0;
  }

  .title {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    gap: 10px;
    margin-bottom: 10px;
  }

  .operation {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: normal;
    gap: 10px;
    margin-top: 3px;
  }

  .operation .arco-icon {
    color: var(--color-text-2);
    cursor: pointer;
  }

  .operation .date-picker {
    width: 130px;
  }

  .operation .sliding-select {
    width: 70px;
  }

  .chart-container {
    display: flex;
    width: 70%;
  }
}
