/* stylelint-disable CssSyntaxError */
@import '../../node_modules/@block-kit/utils/dist/style/vars.less';


body{
  .min-scrollbar();
  scrollbar-gutter: stable;
}

.body {
  padding: 10px;

  .part {
    margin-top: 20px;
  }

  .part:first-child {
    margin-top: 0;
  }
}

.body{
  display: flex;
  align-items: flex-start;
  
  .candlestick{
    width: 70%;
  }
}