@import './body.less';

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@gap: 15px;

.container {
  padding: 10px;
}

.container .chart-menus {
  display: flex;
  justify-content: space-between;

  > .radio-group {
    display: flex;
    flex-direction: column;
    gap: @gap;
    margin-top: @gap;

    .arco-radio {
      margin-right: 10px;
      width: 115px;
    }
  }

  >.button-group {
    display: flex;
    gap: @gap;
    margin-right: 10px;
    margin-top: @gap;
  }
}
