.bounds-card {
  height: 60px;
  margin: 5px;
  width: 60px;
}

.bounds-table {
  border-collapse: collapse;

  td {
    border: 1px solid rgba(var(--gray-5), 0.5);
    height: 45px;
    width: 80px;
  }
}
