.body {
  .heading-container {
    align-items: center;
    display: flex;
    gap: 10px;
    // justify-content: space-between;
    margin-bottom: 10px;
  }

  .title-content {
    font-size: 16px;
    font-weight: bold;
  }

  .nav-left {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: normal;
    gap: 10px;
    margin-top: 3px;
  }

  .sync-icon.arco-icon {
    color: var(--color-text-2);
    cursor: pointer;
    font-size: 16px;
    margin-top: 3px;
  }

  .nav-left .sliding-select {
    width: 120px;
  }

  .nav-left .ma-select {
    width: 120px;
  }
}
